{% extends "base.html" %}
{% block content %}
<div class="main_app">
    <div class="dashboard">
        <ul>
            <li>Name</li>
            <li>(Email)</li>
            <li>Notification</li>
            <li>Reports</li>
        </ul>
    </div>
    <div class="space">
        <div class="column">
            <h4 class="card">Tasks</h4>
            {% for task in tasks %}
            <div class="card">
                <h4>{{ task.title }}</h4>
                <hr>
                <p>{{ task.description }}</p>
            </div>
            {% endfor %}
            <button class="new_btn">New</button>
        </div>
        <div class="column">
            <h4 class="card">In progress</h4>
            {% for step in undone_steps %}
            <p class="card">{{ step.info }}</p>
            {% endfor %}
            <button class="new_btn">New</button>
        </div>
        <div class="column">
            <h4 class="card">Done</h4>
            {% for step in done_steps %}
            <div class="card">
                <p>{{ step.info }}</p>
                <img src="#" alt="">
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}