<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>WorkTeams</title>
</head>

<body>
    <header>
        <div>
            <a href="#">
                <h3>WT</h3>
            </a>
            <nav>
                <a href="#">Home</a>
                <a href="#">FAQ</a>
                <a href="#">Log out</a>
            </nav>
        </div>
        <hr>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <hr>
        <p>WorkTeams (2022 - 2023)</p>
    </footer>
</body>

</html>