{% extends "base.html" %}
{% block content %}
<div class="form">
    <h4>WorkTeams</h4>
    <p>Collaborating Teams</p>
    <div class="select_btn">
        <button type="submit">Register</button>
        <button type="submit" class="selected">Log in</button>
    </div>
    <div>
        <form action="" method="post">
            <input type="text" name="usermail" id="usermail" placeholder="Email:">
            <input type="text" name="password" id="password" placeholder="Password:">
            <a href="#"><img src="#" alt=""></a>
        </form>
    </div>
</div>
{% endblock %}