{% extends "base.html" %}
{% block logged %}
<a href="{{ url_for('page_views.logout') }}">Log out</a>
{% endblock %}
{% block content %}
<div class="main_app">
    <div class="dashboard">
        <ul>
            <li id="username"></li>
            <li id="usermail"></li>
            <li>Notification</li>
            <li>Reports</li>
        </ul>
    </div>
    <div class="space">
        <div class="column">
            <h4 class="card tops">Tasks</h4>
            <section id="tasks"></section>
            <p id="new_task" class="new_btn">New</p>
        </div>
        <div class="column">
            <h4 class="card tops">In progress</h4>
            <section id="undones"></section>
            <p id="new_step" class="new_btn">New</p>
        </div>
        <div class="column">
            <h4 class="card tops">Done</h4>
            <section id="dones"></section>
        </div>
    </div>

</div>
<div class="modal" id="newTask">
    <div class="container create_div">
        <div class="exit"></div>
        <div class="ui_form create_form">
            <h4>New Task</h4>
            <div class="form">
                <form>
                    <input type="text" name="title" id="title" placeholder="Title:">
                    <p class="error" id="titleError"></p>
                    <textarea name="description" id="desc" cols="20" rows="5" placeholder="Description:"></textarea>
                    <div class="datetime">
                        <input type="date" name="dline_date" id="date">
                        <input type="time" name="dline_time" id="time">
                    </div>
                    <p class="error" id="deadlineError"></p>
                    <a href="" id="createTask"><img src="{{ url_for('static', filename='images/mark_good.png') }}" alt=""></a>
                </form>
            </div>
        </div>
        <div class="exit"></div>
    </div>
</div>
<div class="modal" id="newStep">
    <div class="container create_div">
        <div class="exit"></div>
        <div class="ui_form create_form">
            <h4>New Step</h4>
            <div class="form">
                <form>
                    <input name="info" id="info" placeholder="Step:">
                    <p class="error" id="infoError"></p>
                    <a href="" id="createStep" ><img src="{{ url_for('static', filename='images/mark_good.png') }}" alt=""></a>
                </form>
            </div>
        </div>
        <div class="exit"></div>
    </div>
</div>
{% endblock %}