{% extends "base.html" %}
{% block logged %}
<a href="{{ url_for('page_views.logout') }}">Log out</a>
{% endblock %}
{% block content %}
<div class="main_app">
    <div class="dashboard">
        <ul>
            <li>{{ user.name }}</li>
            <li>({{ user.email }})</li>
            <li>Notification</li>
            <li>Reports</li>
        </ul>
    </div>
    <div class="space">
        <div class="column">
            <h4 class="card">Tasks</h4>
            {% for task in tasks %}
            <a href="">
                <div class="card">
                    <h4>{{ task.title }}</h4>
                    <hr>
                    <p>{{ task.description }}</p>
                </div>
            </a>
            {% endfor %}
            <a href="" class="new_btn">New</a>
        </div>
        <div class="column">
            <h4 class="card">In progress</h4>
            {% for step in undone_steps %}
            <p class="card step">
                {{ step.info }}
                <a href="">
                <img src="{{ url_for('static', filename='tick.png') }}">
                </a>
            </p>
            {% endfor %}
            <a href="" class="new_btn">New</a>
        </div>
        <div class="column">
            <h4 class="card">Done</h4>
            {% for step in done_steps %}
            <p class="card step">
                {{ step.info }}
                <img src="{{ url_for('static', filename='tick2.png') }}">
            </p>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}