{% extends "base.html" %}
{% block content %}
<div class="container">
    <div></div>
    <div class="ui_form">
        <h4>WorkTeams</h4>
        <p>Collaborating Teams</p>
        <div class="select_btn">
            <a href="{{ url_for('page_views.register') }}">Register</a>
            <a href="{{ url_for('page_views.login') }}" class="selected">Log in</a>
        </div>
        {% if error: %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <div class="form">
            <form id="login" action="{{ url_for('page_views.login') }}" method="post">
                <input type="text" name="usermail" id="usermail" placeholder="Email:">
                <input type="text" name="password" id="password" placeholder="Password:">
                <a href="javascript:document.getElementById('login').submit();"><img src="{{ url_for('static', filename='images/mark_good.png') }}" alt=""></a>
            </form>
        </div>
    </div>
    <div></div>
</div>

{% endblock %}