{% extends "base.html" %}
{% block content %}
<div class="container">
    <div></div>
    <div class="ui_form">
        <h4>WorkTeams</h4>
        <p>Collaborating Teams</p>
        <div class="select_btn">
            <a href="{{ url_for('page_views.register') }}" class="selected">Register</a>
            <a href="{{ url_for('page_views.login') }}">Log in</a>
        </div>
        {% if error: %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <div class="form">
            <form id="register" action="{{ url_for('page_views.register') }}" method="post">
                <input type="text" name="username" id="username" placeholder="Name:">
                <input type="text" name="usermail" id="usermail" placeholder="Email:">
                <input type="text" name="superior" id="superior" placeholder="Superior's Email:">
                <input type="text" name="superiorpass" id="superiorpass" placeholder="Superior's Password:">
                <a href="javascript:document.getElementById('register').submit();"><img src="{{ url_for('static', filename='images/mark_good.png') }}" alt=""></a>
            </form>
        </div>
    </div>
    <div></div>
</div>

{% endblock %}